%center Hey! You have just made an orders!
%br/
%p If you want to confirm this orders tap #{link_to(t('users.mailers.facebook.here'), order_completing_url)}.
%br/
%center= t('users.mailers.facebook.bye')


