%center Thank you for registration via Facebook!
%br/
%p Next time you can log in via Facebook or via your email and password.
%p
  Email:
  %b= @user.email
%p
  Password:
  %b= @password
%p If you want to change your password immediately go #{link_to 'here', edit_user_registration_url}.
%br/
%center Have a nice day!


