.row
  .col-sm-5
    .general-img-wrap
      %img.img-shadow.general-thumbnail-img{src: 'http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg'}
  .col-sm-7
    .mb-60
      %h1= book.name
      %p.lead= first_sentence_description(book)
      %p.lead.small= all_authors(book)
      .general-align
        = link_to t('general.buy_now'), book_path(book), class: 'btn btn-primary'