%center Hey! You have just made an order!
%br/
%p If you want to confirm this order tap #{link_to(t('users.mailers.facebook.here'), order_completing_url)}.
%br/
%center= t('users.mailers.facebook.bye')


