#address.tab-pane.fade.in.active.general-main-wrap
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle.mt-0= t('users.addresses.billing_address')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle.mt-0 Shipping Address
  .row
    = render 'users/registrations/addresses/billing'
    = render 'users/registrations/addresses/shipping'